/* Universal font sizes and colours */
h1 {
    font: Arial;
    color: white;
    font-size: 48;
}

h2 {
    font: Arial;
    color: white;
    font-size: 36;
}
h3 {
    font: Arial;
    color: white;
    font-size: 24;
}

body {
    font: Arial;
    color: white;
    font-size: 18;
}


/* navbar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #333;
}

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover {
  background-color: #111;
}

.main{
  margin-top: 30px;
  height: 1500px;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  background-color: darkblue;
  display: block;
}

/*virtual park working space */

#legend-marker{
  display: grid;
  background: url(assets/images/pexels-felix-mittermeier-956999.jpg);
  border-spacing: 10px;
  height: auto;
  place-items: center;
  align-content: center;
}

#legend-marker a{
  font-size: 24px;
  color: white;
}

#wacky-world-map{
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.attraction-section{
  display: none;
  color: white;
  place-items: center;
  align-content: center;
}

.attraction-section h1{
  font-size: 48px;
  -webkit-text-stroke: 0.2px #000000;
}

.attraction-section p{
  font-size: 24px;
  -webkit-text-stroke: 0.2px #000000;
}
.dropdown-content{
    position: relative;
    display: inline-block;
    width: 100%;
}
/* virtual park working space end */