<<<<<<< HEAD
* {
    box-sizing: border-box;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
    .container {
	display: grid;
    grid-column: auto;
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 100px;    
}
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
    .responsive {
      width: 100%;
      height: auto;
        
    }
    .acontainer {
     display: grid;
     align-items: center; 
     grid-template-columns: 1fr 1fr 1fr;
     column-gap: 5px;
    }
    aimg {
      max-width: 50%;
      max-height:50%;
    }
    .fade-in-text{
				animation: fadeIn 6s;
                background-color: black;
                opacity: 70%;
			}
/*Mobile-------------------------------------*/
@media only screen and (max-width: 570px){
    body{
        background: white;
        height: 100%;
        padding:8px;
    }
    
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 32px;
        color: white;
    }
    
    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 20px;;
        color: white;
    }
    
    h3{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 17px;;
        color: white;
    }
    
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 15px;;
        color: ghostwhite;
    }
}
/*Tablet-------------------------------------*/
@media only screen and (min-width: 571px) and (max-width: 1010px){
    body{
        background: white;
        height: 100%;
        padding:8px;
    }
    
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 42px;
        color: white;
    }
    
    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 32px;;
        color: white;
    }
    
    h3{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 22px;;
        color: white;
    }
    
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 17px;;
        color: white;
    }
}
/*Desktop-------------------------------------*/
@media only screen and (min-width: 1011px){
    body{
        background: white;
        height: 100%;
        padding:8px;
    }
    
    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 82px;
        color: white;
    }
    
    h2{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 42px;;
        color: white;
    }
    
    h3{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: bold;
        font-size: 28px;;
        color: white;
    }
    
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        font-size: 20px;;
        color: white;
    }
}
* {box-sizing: border-box;}
body { 

=======
ul.navbar {
  list-style-type: none;
>>>>>>> parent of a737f5d (update)
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #333;
}
.header a {
  float: center;
=======

ul.navbar li {
  float: left;
}

ul.navbar li a {
  display: block;
>>>>>>> parent of a737f5d (update)
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
<<<<<<< HEAD
.header a:hover {
  background-color: #505050;
  color: black;
  .header-right {
    float: none;
  }
=======

ul.navbar li a:hover {
  background-color: #111;
}

.main{
  margin-top: 30px;
  height: 1500px;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  background-color: darkblue;
  display: block;
>>>>>>> parent of a737f5d (update)
}
/*virtual park working space */